.root {
	-fx-padding: 20px;
	-fx-background-color: skyblue;
}

.button {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-padding: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;
}

.label {
	-fx-padding: 5px;
}